extends layout

block head
  script(src="https://code.jquery.com/jquery-3.6.0.min.js",
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",
    crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js")



block content
  h1= title
  p THE WEATHER IS SUNNY WITH SOME CLOUDS
  p#weather
  button#firstButton(type="button") CHECK ON CHARLIE
  canvas#myChart

  script(src="javascripts/responsible.js")
