//palette
$green: #a2ccb6
$light-peach: #ffecd9
$peach: #ee786e
$sand: #fceeb5
$white: #fff


body
  //background: $light-peach
  background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2)
  display: grid
  height: 150vh
  margin: 0
  place-items: center
  padding: 1rem


a
  color: #00B7FF


h1
  font-family: Helvetica, sans-serif
  font-weight: 100
  color: #fff

  letter-spacing: 0.5em
  text-align: center
  margin-top: 50px
  line-height: 1.6em


p
  font-family: Helvetica, sans-serif
  font-weight: 100
  color: #fff
  font-size: 1.1em
  text-align: center
  //margin: 110px auto 20px
  margin: 10px auto 50px
  letter-spacing: 0.05em

p#dadJoke
  margin: 50px auto 20px

button
  -webkit-appearance: none
  background: -webkit-gradient(to right,$green 0%,$sand 50%,$peach 100%)
  background: linear-gradient(to right,$green 0%,$sand 50%,$peach 100%)
  background-size: 500%
  border: none
  border-radius: 5rem
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
  color: $white
  cursor: pointer
  font: 1.5em Raleway, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  height: 5rem
  letter-spacing: .05em
  outline: none
  -webkit-tap-highlight-color: transparent
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  width: 20rem

button:hover
  animation-name: gradient
  -webkit-animation-name: gradient
  animation-duration: 2s
  -webkit-animation-duration: 2s
  animation-iteration-count: 1
  -webkit-animation-iteration-count: 1
  animation-fill-mode: forwards
  -webkit-animation-fill-mode: forwards


@keyframes gradient
  0%
    background-position: 0% 50%
  100%
    background-position: 100%


#floofMap
  height: 800px
  width: 800px

#myChart
  height: 800px
  width: 800px